In [1]:
import pandas as pd
import numpy as np
from patsy import dmatrices, dmatrix
from sklearn.ensemble import RandomForestClassifier
from sklearn.neighbors import KNeighborsClassifier
from sklearn.svm import SVC
from sklearn.linear_model import Ridge, Lasso
from sklearn.dummy import DummyClassifier
from sklearn.preprocessing import StandardScaler
from sklearn.grid_search import GridSearchCV
from sklearn.cross_validation import cross_val_score
import matplotlib.pyplot as plt
%matplotlib inline

In [4]:
data = pd.read_csv('segment_data.csv')
data = data.drop(data.columns[[0]], axis=1)

In [5]:
data.head()

,average_stars,fans,review_count,yelping_age,number_of_friends,total_compliment,review_age_days_mean,stars_business,review_count_business_average,num_reviews_before_user_review,total_vote,segments,trendsetter
0,4.14,69,108,4017,206,232,7.000000,4.000000,207.000000,1.000000,689,3,1
1,3.64,1012,1233,4017,1904,5686,861.964286,3.821429,587.857143,124.964286,29328,2,1
2,3.59,93,442,4017,354,639,311.000000,3.600000,338.800000,34.400000,3079,3,1
3,4.64,2,11,4017,4,2,0.000000,4.000000,113.500000,0.000000,17,1,0
4,3.80,3,66,4017,4,10,0.000000,4.000000,434.000000,0.000000,55,1,0